<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cart_style.css">
    <title>Cart</title>
</head>
<body>
    <main class="main">
        <div class="top_bar">
            <div class="home_button">
                <a class="home_link" href="/">Healfy</a>
                <form class='clear_button_form'id="clearCartForm" action="/home/clearCart" method="post">
                    <button type="submit" class="clear_button">Clear Cart</button>
                </form>
            </div>
        </div>
        <div class="main_side">
            <h1 class="txt1">Your cart</h1>
            <div class="cart_side">
                <div class="products_area" id="cartProducts">
                    {% for item in cart %}
                        <span class="product_quantity">{{ item[1] }}x <span class="item_name">
                            {% for product in products %}
                                {% if product[0] == item[0] %}
                                    {{ product[1] }}
                                {% endif %}
                            {% endfor %}
                        </span></span>
                        <span class="item_price">
                            {% for product in products %}
                                {% if product[0] == item[0] %}
                                    {{ product[2] }}$
                                {% endif %}
                            {% endfor %}
                        </span>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div>  
                <p class="txt2">Thank You!</p>
                <p class="txt3">Total: {{0 or total }}$ <span id="totalAmount"></span></p>
                <a class="checkout_button" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Checkout</a>
            </div>
        </div>
    </main>
</body>
</html>